.installed.cfg
bin/
.eggs/
build/
dist/
*.egg-info/
parts/
*.pyc
*.pyo
develop-eggs/
*~
*.aux
*.log
*.toc
*.so
*.o
include/
local/
lib/
*.sw*
.cache/
.coverage
.pytest_cache/
.ropeproject/
.tox/
**/*.xml
data/level0
.vscode
